<div>
    <h1>Hola desde Chat Handlebar App</h1>
    <input id="chatBox">
    <br>
    <span id="log"></span>
</div>






<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>